<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>RoomNumber</th>
            <th>Use</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.roomNumber}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a>

                <form th:action="@{/delete/{id}(id=${user.id})}"
                      method="post"
                      style="display:inline">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/create}">Add</a>
    </div>
</div>
</body>
</html>